@page
@model RuilwinkelVerhuur.Views.Home.CheckoutPageModel
@{
}

<div class="text-center">
    <h1 class="display-4">Mijn Winkelmandje</h1>
</div>

<div class=" container-fluid my-5 ">
    <div class="row justify-content-center ">
        <div class="col-xl-10">
            <div class="card shadow-lg ">
                <div class="row p-2 mt-3 justify-content-between mx-sm-2">
                    <div class="col">
                        <p class="text-muted space mb-0 shop">Ruilwinkel Vaals</p>
                        <p class="text-muted space mb-0 shop">Checkout</p>
                    </div>
                    <div class="col">
                        <div class="row justify-content-start ">
                            <div class="col"> <img class="irc_mi img-fluid cursor-pointer " src="https://www.ruilwinkelvaals.nl/ruilwinkelvaals.nl/images/ruilwinkel/logo_ruilwinkel_vaalsWEB.jpg" width="70" height="70"> </div>
                        </div>
                    </div>
                    <div class="col-auto"> <img class="irc_mi img-fluid bell" src="https://i.imgur.com/uSHMClk.jpg" width="30" height="30"> </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="card border-0 ">
                            <div class="card-header card-2">
                                <p class="card-text text-muted mt-md-4 mb-2 space"><span class=" small text-muted ml-2 cursor-pointer">Winkelmandje</span> </p>
                                <hr class="my-2">
                            </div>
                            <div class="card-body pt-0">
                                <div class="row justify-content-between">
                                    <div class="col-auto col-md-7">
                                        <div class="media flex-column flex-sm-row"> <img class=" img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/db/Powers_of_ten.jpg/220px-Powers_of_ten.jpg" width="62" height="62">
                                            <div class="media-body my-auto">
                                                <div class="row ">
                                                    <div class="col-auto">
                                                        <p class="mb-0"><b>Muziek Album</b></p><small class="text-muted">1 Maand</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto">
                                        <p class="boxed-1">1</p>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto ">
                                        <p><b>4 punten</b></p>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto ">
                                        <p><button type="button">Cancel</button></p>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="row justify-content-between">
                                    <div class="col-auto col-md-7">
                                        <div class="media flex-column flex-sm-row"> <img class=" img-fluid " src="https://www.zaak.shop/Files/2/40000/40297/ProductPhotos/MaxContent/1524376737.jpg" width="62" height="62">
                                            <div class="media-body my-auto">
                                                <div class="row ">
                                                    <div class="col">
                                                        <p class="mb-0"><b>CD Speler</b></p><small class="text-muted">1 jaar</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-0 flex-sm-col col-auto my-auto">
                                        <p class="boxed">3</p>
                                    </div>
                                    <div class="pl-0 flex-sm-col col-auto my-auto">
                                        <p><b>20 punten</b></p>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto ">
                                        <p><button type="button">Cancel</button></p>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="row justify-content-between">
                                    <div class="col-auto col-md-7">
                                        <div class="media flex-column flex-sm-row"> <img class=" img-fluid " src="https://tweakers.net/i/MQHrquBOks4u_t1DLprQ8EomwOQ=/i/2003232406.png" width="62" height="62">
                                            <div class="media-body my-auto">
                                                <div class="row ">
                                                    <div class="col">
                                                        <p class="mb-0"><b>Stereo Versterker</b></p><small class="text-muted">6 maanden</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-0 flex-sm-col col-auto my-auto">
                                        <p class="boxed-1">2</p>
                                    </div>
                                    <div class="pl-0 flex-sm-col col-auto my-auto">
                                        <p><b>40 punten</b></p>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto ">
                                        <p><button type="button">Cancel</button></p>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="row ">
                                    <div class="col">
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p><b>Totaal</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <p class="mb-1"><b>64 punten</b></p>
                                            </div>
                                        </div>
                                        <hr class="my-0">
                                    </div>
                                </div>
                                <div class="row mb-5 mt-4 ">
                                    <div class="col-md-7 col-lg-6 mx-auto"><button type="button" class="btn btn-block btn-outline-primary btn-lg">CHECK OUT</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>