

@page
@namespace RuilwinkelVerhuur.Models.Classes

@{    
    List<String> catList = ProductComm.retrieveCatogories();   
}


<div class="text-left">


    <h1 class="display-4">Welkom op de verhuurpagina!</h1>

        @foreach (var uniquecategory in catList)
            {
            <form action="@Url.Action("InventoryPage", "Home", new { id = uniquecategory })">
                @{string uniquecategoryCap = char.ToUpper(uniquecategory[0]) + uniquecategory.Substring(1);}

                <input type="submit" value=@uniquecategoryCap>        
            </form>
            }


    <form action="@Url.Action("Index", "Email")">
        <input type="submit" value="Send test mail" />
    </form>
</div>



