@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="@Url.Action("Index", "Home")">
    <input type="submit" value="Go back to main menu!" />
</form>