
@namespace RuilwinkelVerhuur.Models.Classes


@{
    var data = ViewBag.Message;
    Product selectedproduct = ProductComm.retrieveProducts(data);
}

<h3>Id: @selectedproduct.ID</h3>
<h4>Naam: @selectedproduct.Name</h4>
<p> <img src="@selectedproduct.Picture" height="150" /> </p>
